@media (min-width: 1025px) {
  .About {
    background: #4cb5d3;
    width: 100%;
    min-height: 97vh;
    background-size: cover;
  }

  .About .aboutOne {
    padding: 9.25rem 150px 4rem 250px;
    text-align: right;
    line-height: 50px;
  }

  .About .aboutTwo {
    display: flex;
  }

  .About h1 {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
  }

  .About .containerOne {
    display: flex;
    margin: 10px 20px 10px 60px;
  }

  .About .containerTwo {
    display: flex;
    margin: 10px 60px 10px 20px;
  }

  .About .containerOne,
  .About .containerTwo {
    width: 50%;
    padding: 20px 50px;
    border-radius: 8px;
    background: #eeeeee;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .bioOne {
    margin-left: 20px;
    padding-top: 20px;
    text-align: justify;
  }

  .About .imageOne,
  .About .imageTwo {
    margin-right: 5px;
  }

  .About .bioTwo {
    text-align: justify;
    margin-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .About .aboutOne {
    padding: 10rem 100px 6rem 100px;
    text-align: center;
    background: #0f9fc7;
    line-height: 40px;
  }

  .About .aboutTwo {
    padding: 30px;
  }

  .About .aboutThree {
    padding: 30px;
    background: #0f9fc7;
  }

  .About h1 {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
  }

  .About .containerOne {
    display: flex;
  }

  .About .bioOne {
    margin-left: 20px;
  }

  .About .imageOne,
  .About .imageTwo {
    margin-right: 5px;
    margin-top: 10px;
  }

  .About .containerTwo {
    display: flex;
  }

  .About .bioTwo {
    text-align: justify;
    margin-left: 20px;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .About .aboutOne {
    padding: 7rem 18px 3rem 18px;
    text-align: center;
    background: #0f9fc7;
    line-height: 40px;
  }

  .About .aboutTwo {
    padding: 30px;
  }

  .About .aboutThree {
    padding: 30px;
    background: #0f9fc7;
  }

  .About h1 {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
  }

  .About .containerOne {
    display: flex;
    flex-direction: column;
  }

  .About .bioOne {
    padding-top: 20px;
    text-align: justify;
  }

  .About .imageOne {
    margin: 0 auto;
  }

  .About .containerTwo {
    display: flex;
    flex-direction: column;
  }

  .About .bioTwo {
    text-align: justify;
    padding-top: 20px;
    color: #fff;
  }

  .About .imageTwo {
    margin: 0 auto;
  }

  .About .containerThree {
    display: flex;
    margin: 20px;
    flex-direction: column;
  }

  .About .imgRow {
    margin: 0 auto;
  }

  .About .bioBox {
    padding: 10px;
  }

  .About .imageThree,
  .About .imageFour,
  .About .imageFive {
    margin-bottom: 20px;
  }

  .About .bioThree,
  .About .bioFour,
  .About .bioFive {
    margin-bottom: 15px;
  }

  .containerThree p {
    text-align: justify;
  }
}
