.Home .homeOne {
  padding: 18.25rem 150px 14rem 250px;
  text-align: right;
  background: #f7f7f7;
  line-height: 50px;
}

.Home .homeTwo {
  background: #ffffff;
  text-align: center;
  margin: 50px 40px 50px 40px;
}

.Home .container {
  display: grid;
}

.Home h1 {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.Home .pdfs,
.Home .events {
  float: left;
  width: 50%;
  text-align: center;
  padding: 30px;
}

.Home .reportContainer {
  display: flex;
}

.Home .reportImage {
  width: 100%;
  height: auto;
}

.Home .pdfIcon {
  width: 25px;
  height: auto;
}

.Home .buttonContainer {
  display: flex;
  flex-direction: column;
}

.Home .buttonContainer button {
  margin: 0 auto;
  width: 50%;
}

.Home .boxOne p,
.Home .boxTwo p {
  width: 75%;
  margin: 0 auto;
}

.Home .eventContainer {
  display: flex;
}

.wabKinew {
  width: 250px;
  height: auto;
}

.events h2 {
  margin-bottom: 5px;
}

.Home .change {
  display: block;
}

.timelineContainer {
  text-align: center;
  padding: 40px 30px;
  background: #f7f7f7;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
  border: 5px solid #0f9fc7;
}

.Home .changeContainer {
  padding: 5px 2px;
}
