.Home .homeOne {
  padding: 18.25rem 150px 14rem 250px;
  text-align: right;
  background: #f7f7f7;
  line-height: 50px;
}

.Home .homeTwo {
  background: #ffffff;
  text-align: center;
  padding: 50px 40px 0 40px;
  display: flex;
}

.Home .homeThree {
  margin: 50px 0;
}

.Home .homeFour {
  padding: 30px 40px;
}

.Home .container {
  display: grid;
}

.Home h1 {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.Home .pdfs,
.Home .events {
  width: 50%;
  border: 5px solid #0f9fc7;
  border-radius: 8px;
  margin: 0 10px;
}

.Home .pdfs h2,
.Home .events h2 {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}

.Home .reportContainer {
  display: flex;
}

.Home .reportContainer .boxTwo {
  padding-top: 50px;
}

.Home .reportContainer .boxTwo p {
  padding-bottom: 20px;
}

.Home .reportImage {
  width: 85%;
  height: auto;
}

.wabKinew {
  width: 250px;
  height: auto;
}

.Home .pdfIcon {
  width: 25px;
  height: auto;
}

.Home .buttonContainer {
  display: flex;
  flex-direction: column;
}

.Home .buttonContainer button {
  width: 50%;
  margin: 8px auto;
}

.Home .boxOne p,
.Home .boxTwo p {
  width: 75%;
  margin: 0 auto;
}

.Home .events .boxThree {
  padding: 5px 0 0 50px;
}

.Home .events .boxFour {
  margin: 20px 100px;
}

.Home .eventContainer {
  display: flex;
}

.events h2 {
  margin-bottom: 5px;
}

.Home .changeContainer {
  display: block;
  margin: 0 auto;

  width: 30%;
  text-align: center;
  background: #0f9fc7;
  color: #fff;
  padding: 50px 10px;
  border-radius: 8px;
}

.Home .changeContainer h2 {
  padding-bottom: 30px;
}

.timelineContainer {
  text-align: center;
  padding: 40px 30px;
  background: #f7f7f7;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
  border: 5px solid #0f9fc7;
}
