.Home {
  background: #4cb5d3;
}

.Home .homeOne {
  padding: 17.25rem 150px 16rem 250px;
  text-align: right;
  line-height: 50px;
}

.Home .homeTwo {
  text-align: center;
  display: flex;
}

.Home .homeFour {
  padding: 30px 60px;
}

.Home .container {
  display: grid;
}

.Home .opening {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.Home .pdfs,
.Home .events {
  width: 50%;
  padding: 20px 50px;
  border-radius: 8px;
  background: #eeeeee;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
}

.Home .pdfs {
  margin: 10px 20px 10px 60px;
}

.Home .events {
  margin: 10px 60px 10px 20px;
}

.Home .events h2 {
  color: #4cb5d3;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.Home .reportContainer {
  margin-bottom: 8px;
}

.Home .boxOne p {
  width: 100%;
  margin: 0 auto;
}

.Home .pdfDescription {
  font-size: 17px;
  padding-top: 11px;
  text-align: justify;
  color: #585858;
}

.Home .boxThree {
  display: flex;
  margin-bottom: 10px;
}

.Home .boxThree .link {
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.Home .boxThree .link:hover {
  color: #fff;
  text-decoration: underline;
}

.Home .boxThree .pdfIcon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
}

.Home .boxFour {
  padding: 30px 0 0 15px;
}

.Home .boxFour p {
  color: #585858;
  font-size: 18px;
}

.Home .boxFour a {
  color: #4cb5d3;
  text-decoration: none;
}

.Home .boxFour a:hover {
  text-decoration: underline;
}

.Home .execLink,
.Home .finalLink {
  width: 50%;
  font-size: 18px;
  background: #4cb5d3;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
}

.Home .execLink {
  margin: 5px 8px 0 0;
}

.Home .finalLink {
  margin: 5px 0 0 8px;
}

.Home .reportImage {
  float: left;
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  margin: 10px 15px 5px 0;
}

.wabKinew {
  width: 188px;
  height: 243px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
}

.events h2 {
  margin-bottom: 5px;
}

.Home .changeContainer {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 50px 10px;
}

.Home .changeContainer h2 {
  padding-bottom: 30px;
}

.eventContainer {
  text-align: left;
}

.timelineContainer {
  text-align: center;
  padding: 40px 0;
  background: #f7f7f7;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.timelineContainer h1 {
  color: #4cb5d3;
  padding-bottom: 80px;
  text-shadow: 2px 2px #cdcdcd;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

.Home .titleDownload {
  margin-top: -65px;
  margin-left: -130px;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px #4cb5d3;
}

.Home .titleEvents {
  margin-top: -65px;
  margin-left: -5px;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px #4cb5d3;
}

.Home .eventInfo {
  display: flex;
}

.Home .eventTime {
  margin-top: 10px;
}

.eventTime h2 {
  padding-top: 5px;
}

.Home .eventTime p {
  color: #4cb5d3;
}
