.Home {
  background: #4cb5d3;
}

.Home .homeOne {
  padding: 11.25rem 150px 10rem 250px;
  text-align: right;
  line-height: 50px;
}

.Home .homeTwo {
  text-align: center;
  display: flex;
}

.Home .homeFour {
  padding: 30px 200px;
}

.Home .container {
  display: grid;
}

.Home h1 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.Home .pdfs,
.Home .events {
  width: 50%;
  padding: 20px 50px;
  border-radius: 8px;
  background: #eeeeee;
}

.Home .pdfs {
  margin: 10px 20px 10px 60px;
}

.Home .events {
  margin: 10px 60px 10px 20px;
}

.Home .pdfs h2,
.Home .events h2 {
  color: #4cb5d3;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.Home .reportContainer {
  display: flex;
}

.Home .reportContainer .boxTwo {
  padding-top: 20px;
}

.Home .reportContainer .boxTwo p {
  padding-bottom: 20px;
}

.Home .reportImage {
  width: 900px;
  height: auto;
  padding-top: 10px;
}

.wabKinew {
  width: 600px;
  height: auto;
  padding-top: 10px;
}

.Home .pdfIcon {
  width: 25px;
  height: auto;
}

.Home .buttonContainer {
  display: flex;
  flex-direction: column;
}

.Home .buttonContainer button {
  width: 50%;
  margin: 8px auto;
}

.Home .boxOne p,
.Home .boxTwo p {
  width: 75%;
  margin: 0 auto;
}

.Home .eventContainer {
  display: flex;
  justify-content: center;
}

.events h2 {
  margin-bottom: 5px;
}

.Home .changeContainer {
  display: block;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  color: #fff;
  padding: 50px 10px;
}

.Home .changeContainer h2 {
  padding-bottom: 30px;
}

.timelineContainer {
  text-align: center;
  padding: 40px 30px;
  background: #f7f7f7;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.Home .titleDownload {
  margin-top: -65px;
  margin-left: -5px;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px #4cb5d3;
}

.Home .titleEvents {
  margin-top: -65px;
  margin-left: -35px;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px #4cb5d3;
}
