.NavbarItems {
  background: #0f9fc7;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.025);
  z-index: 1;
}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  margin-left: 20px;
  margin-bottom: 2px;
  cursor: pointer;
  font-family: "Arimo", sans-serif;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 9px;
}

.nav-links {
  color: #ffffff;
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.nav-links:hover {
  color: #2885c0;
  background-color: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #ffffff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .NavbarItems {
    position: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 68px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0f9fc7;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-links {
    text-align: center;
    padding: 15px 32px;
    width: 100%;
    display: table;
    font-size: 17px;
  }

  .nav-links:hover {
    background-color: #f2f2f2;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 4px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #ffffff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 8px 10px;
    margin: 10px auto;
    border-radius: 4px;
    width: 80%;
    background: #685454;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #685454;
    transition: 250ms;
  }

  Button {
    display: none;
  }
}

@media (max-width: 767px) {
  .NavbarItems {
    position: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 68px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0f9fc7;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-links {
    text-align: center;
    padding: 15px 32px;
    width: 100%;
    display: table;
    font-size: 17px;
  }

  .nav-links:hover {
    background-color: #f2f2f2;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 12px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #ffffff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 8px 10px;
    margin: 10px auto;
    border-radius: 4px;
    width: 80%;
    background: #685454;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #685454;
    transition: 250ms;
  }

  Button {
    display: none;
  }
}
